<RunSettings>
	<RunConfiguration>
		<TestCaseFilter>Category!=blocked</TestCaseFilter>
		<DataCollector friendlyName="XPlat Code Coverage">
		  <Configuration>
			<CodeCoverage>
			  <ModulePaths>
				<Exclude>
				  <ModulePath>.*\.Sample\.*.*</ModulePath>
				</Exclude>
			  </ModulePaths>
			</CodeCoverage>
		  </Configuration>
		</DataCollector>
	</RunConfiguration>
</RunSettings>